<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>UNIVERSIDAD POLITECNICA DE BAJA CALIFORNIA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/upbcicon.png" rel="icon">
    <link href="assets/img/upbcicon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Day - v4.3.0
    * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i><a>CONTACTO RAPIDO: </a></i>
                <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">rectoria@upbc.edu.mx</a>
                <i class="bi bi-phone-fill phone-icon"></i> <a href="#">686-104.2727</a>
            </div>
            <div class="social-links d-none d-md-block">
                <a href="https://twitter.com/VinculacionUPBC" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/VinculacionUPBC/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/vinculacionupbc/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo">
                <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a><a href="index.html">UPBC</a>
                <a href="../Day/AccesoAlumno.html"><img src="assets/img/SIAAXALUMNOS.png" alt="" class="img-fluid" width="50" height="50"></a>
                <a href="http://www2.upbc.edu.mx/siaax/Defaultx.aspx"><img src="assets/img/SIAAXMAESTROS.png" alt="" class="img-fluid" width="50" height="50"></a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Universidad</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="inner-page.html">Rectoria</a></li>
                            <li><a href="#">Institucion</a></li>
                            <li><a href="creacion.html">Su creacion</a></li>
                            <li><a href="#">Cultura</a></li>
                            <li><a href="#">Salud</a></li>
                            <li><a href="#">Normatividad</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Transparencia</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Transmisiones en Vivo</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#"><span>Instalaciones</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Aulas</a></li>
                                    <li><a href="#">Talleres y Laboratorios</a></li>
                                    <li><a href="#">Centro de Idiomas (CADI)</a></li>
                                    <li><a href="#">Bibliotecas Virtuales</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"><span>Gestion</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Junta Directiva</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>Oferta Educativa</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="carreras.html">Carreras</a></li>
                            <li><a href="#">Modelo Educativo</a></li>
                            <li><a href="#">Academias</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>Vinculacion</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="estancias.html">Estancias y Estadias</a></li>
                            <li><a href="#">Descargables</a></li>
                            <li><a href="#">Convocatorias</a></li>
                            <li><a href="#">Becas Externas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>Alumnos/Maestros</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Correo Electronico</a></li>
                            <li><a href="#">Calendario Escolar</a></li>
                            <li><a href="#">Becas</a></li>
                            <li><a href="#">Centro de Idiomas (CADI)</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Acceso SIAAX</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Alumnos</a></li>
                                    <li><a href="#">Maestros</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"><span>Servicios para</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Alumnos</a></li>
                                    <li><a href="#">Egresados</a></li>
                                    <li><a href="#">Maestros</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Directorio</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= vista alta ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Bienvienido al Portal de la Universidad Politecnica de Baja California</h1>
            <div class="col-lg-2 col-md-4 col-6">
                <a href="#"><img src="assets/img/clients/inscripciones.png" class="img-fluid" alt="" width="500" height="500">
            </div></a>
            <a href="#about" class="btn-get-started scrollto">Informacion</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Acerca de la universidad ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                        <img src="assets/img/classUPBC.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                        <h3>Universidad Politecnica de Baja California</h3>
                        <p class="fst-italic" style="color:black">
                            La Universidad Politécnica de Baja California es una institución pública de Gobierno del Estado, la cual tiene por objeto impartir
                            educación superior en los niveles de licenciatura, posgrado, especialización tecnolígica y cursos de actualización en sus diversas
                            modalidades, para preparar profesionales con una salida formación técnica y valores, conscientes del contexto nacional en lo
                            económico, social y cultural.
                        </p>
                        <p style="color:black">
                            La Universidad Politécnica de Baja California inició sus operaciones el 29 de mayo de 2006 en las instalaciones de la colonia
                            Industrial, temporalmente facilitadas por el ISEP, las cuales lograron adaptar y equipar con 6 aulas, 2 laboratorios de cómputo y
                            una sala de usos múltiples.
                        </p>
                        <p style="color:black">
                            Con el apoyo de las dependencias normativas en inversión pública y de las encargadas de construcción de espacios educativos en el
                            Estado, fue entonces que la UPBC lográ la aprobación también de los fondos económicos necesarios para la construcción del primer
                            edificio académico en su nuevo campus. Para esto, se diseńe un Plan Maestro de construcción. El Rector definió la ubicación de la
                            construcción del primer edificio académico. En este edificio se impartieron clases a partir del 29 de octubre de 2007.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->
        <!-- ======= Mision, Vision y Politica de calidad ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">

                    <div class="col-lg-4" data-aos="fade-up">
                        <div class="box">
                            <h4>Misión</h4>
                            <p style="color:black">
                                Formar profesionistas con un amplio sentido práctico de su disciplina y bases sálidas para aprender a lo largo de toda la vida,
                                desarrollando su vocación de liderazgo tecnológico, su capacidad emprendedora y su compromiso con la sociedad en un marco de
                                valores. Impulsar la generación y aplicación del conocimiento que contribuya a elevar el nivel de competitividad de los sectores
                                clave para el desarrollo integral de la región, coadyuvar al desarrollo humano de la sociedad mediante la extensión de la cultura,
                                el fomento al deporte, la educación continua y la difusión del conocimiento.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                        <div class="box">
                            <h4>Visión</h4>
                            <p style="color:black">
                                Constituirse como una universidad con programas educativos pertinentes y acreditados a nivel nacional y reconocidos
                                internacionalmente, con posgrados de calidad orientados a la formación de investigadores y posicionada en los sectores clave de
                                la región por el liderazgo de sus egresados y por el impacto de sus investigaciones científicas y desarrollos tecnológicos, que
                                coadyuvan al mejoramiento de procesos industriales, preservación de la infraestructura de servicios y al desarrollo social y
                                económico del estado y del país
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <h4> Política de Calidad</h4>
                            <p style="color:black">
                                En la Universidad Politécnica de Baja California, nos comprometemos formar profesionistas competentes en las áreas científicas y
                                tecnológicas que satisfagan los requerimientos del sector social y productivo, a través de la mejora continua de la eficacia de sus
                                procesos y el uso eficiente de los recursos. Objetivo:
                                <div style="color:black">1.- Satisfacer la necesidades de los usuarios.</div>
                                <div style="color:black">2.- Controlar Ia calidad de nuestros procesos.</div>
                                <div style="color:black">3.- Mejorar constantemente la eficacia de nuestro sistema de gestion de calidad.</div>
                                <div style="color:black">4.- Desarrollar continuamente a nuestro personal.</div>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Why Us Section -->
        <!-- ======= Clients Section =======
        <section id="clients" class="clients">
          <div class="container" data-aos="zoom-in">

            <div class="row d-flex align-items-center">

              <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
              </div>

            </div>

          </div>
        </section> End Clients Section -->
        <!-- ======= Servicios ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <span>SERVICIOS</span>
                    <h2>SERVICIOS</h2>
                    <p>Aquí encontraras acceso rapido a nuestras diferentes opciones</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <a href="http://www.upbc.edu.mx/trans_parencia/index.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4 style="color: black;">Transparencia</h4>
                                <p style="color: black;">Encontrara los documentos todos los documentos que se generán en UPBC</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
                        <a href="http://www2.upbc.edu.mx/finanzas/">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4 style="color: black;">Formas de Pago</h4>
                                <p style="color: black;">Genera tu referencia bancaria para realizar los pagos en el Banco.</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <a href="http://www.upbc.edu.mx/aulas.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4 style="color: black;">Instalaciones</h4>
                                <p style="color: black;">La Infraestructura actual con que cuenta la UPBC para dar servicios a la comunidad.</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                        <a href="http://www.upbc.edu.mx/OfertaEducativa/carreras.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-world"></i></div>
                                <h4 style="color: black;">Oferta Educativa</h4>
                                <p style="color: black;">El modelo educativo que tiene la UPBC y las carreas que actualmente ofrecemos.</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                        <a href="http://www.upbc.edu.mx/Universidad/academias.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-slideshow"></i></div>
                                <h4 style="color: black;">Academia CISCO</h4>
                                <p style="color: black;">La academia local de CISCO, ofrece la preparación para la certificación de ingenieros.</p>
                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
                        <a href="http://www.upbc.edu.mx/Universidad/cadi.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-arch"></i></div>
                                <h4 style="color: black;">CADI</h4>
                                <p style="color: black;">
                                    Apoyamos el desarrollo de habilidades de comunicación como complemento práctico a lecciones o clases de
                                    inglés.
                                </p>
                            </div>
                        </a>
                    </div>


                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <h3>Estancias y Estadías</h3>
                    <p>Aqui el alumno encontrara opciones para acreditar sus estancias y estadias</p>
                    <a class="cta-btn" href="http://www.upbc.edu.mx/WVINCULACION/ESTANCIAS.HTML">VER OPCIONES</a>
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- mini menu de acceso rapido
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>
        -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <span>CONTACTO</span>
                    <h2>CONTACTO</h2>
                    <p>Comunicate con nosotros!</p>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-6">
                        <div class="info-box mb-4">
                            <i class="bx bx-map"></i>
                            <h3>Direccion UPBC</h3>
                            <p>Av Claridad, Plutarco Elías Calles, 21376 Mexicali, B.C., México</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="info-box  mb-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Correo Electronico</h3>
                            <p>gestionescolar@upbc.edu.mx</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="info-box  mb-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Llamanos</h3>
                            <p>+526861042727</p>
                        </div>
                    </div>

                </div>

                <div class="row" data-aos="fade-up">

                    <div class="col-lg-6 ">
                        <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6720.526752095756!2d-115.376991!3d32.625809!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x964adac652c8fcc0!2sUniversidad%20Polit%C3%A9cnica%20De%20Baja%20California!5e0!3m2!1ses-419!2sbg!4v1627931213797!5m2!1ses-419!2sbg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electronico" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Tu Mensaje" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">CARGANDO...</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tu mensaje a sido enviado. Muchas gracias por tu interes!</div>
                            </div>
                            <div class="text-center"><button type="submit">Mandar mensaje</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>UNIVERSIDAD POLITECNICA DE BAJA CALIFORNIA</h3>
                            <p>
                                Av Claridad, Plutarco Elías Calles, 21376 Mexicali, B.C., México<br><br>
                                <strong>Phone:</strong> +52 686 104 2727<br>
                                <strong>Email:</strong> gestionescolar@upbc.edu.mx<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/VinculacionUPBC" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/VinculacionUPBC/" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/accounts/login/" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Utilidad Universitaria</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Institución</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Normatividad</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Transparencia</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Becas</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Salud</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Servicios Disponibles</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Calendario Escolar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Estancias y Estadias</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Carreras</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Modelo Educativo</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Correo Electronico</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Directorio</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>EMD</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
                Designed by <a href="https://bootstrapmade.com/">EMILIANO</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
